#areaChartTitle {
    text-align: center;
    text-shadow: 1px 1px #646464;
    margin-top: 0;
    padding-top: 5px;
}

#areaChartDiv {
    border: 2px solid rgb(170, 169, 169);
    border-top: none;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}