#feedback {
    text-align: center;
    background-color:rgb(203, 203, 206);
    padding-top: 8px;
    padding-bottom: 8px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-left: 2px solid rgb(170, 169, 169);
    border-right: 2px solid rgb(170, 169, 169);
    border-top: 2px solid rgb(170, 169, 169);
    margin-top: 0;
    margin-bottom: 0;
}

#status {
    color: yellow;
}

@media screen and (min-width: 768px) {
    #feedback {
        width: 580px;
    }

}