#feedback {
    text-align: center;
    background: rgb(161, 161, 161);
    padding-top: 8px;
    padding-bottom: 8px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(170, 169, 169);
    margin-top: 0;
    margin-bottom: 0;
}

#status {
    color: yellow;
}

@media screen and (min-width: 768px) {
    #feedback {
        width: 580px;
    }

}