header {
    max-width: 1200px;
    text-align: center;
}
.title {
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
}

.title span {
    color: green;
    font-weight: 900;
    text-shadow: 1px 1px #646464;
}

