#targetInfo {
    background-color: #bbbbbb;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    max-width: 90%;
    border-radius: 4px;
    margin-top: 10px;
}

#targetsImage {
    width: 250px;
}

@media screen and (min-width: 768px) {
    #targetsImage {
        width: 350px;
    }

}