#signUpForm {
    background-color: #414141;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: whitesmoke;
    max-width: 90%;
    border-radius: 4px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signUpForm label {
    margin-right: 5px;
    margin-bottom: 5px;
}

#signUpForm input {
    box-sizing: border-box;
    padding: 6px;
    text-align: center;
    height: 28px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    border-bottom: 1px solid #DDD;
    border-top: none;
    margin-bottom: 5px;
}

#signUpForm button {
    margin-top: 5px;
    align-self: center;
}

#signUpForm p {
    align-self: center; 
}

#loginLink {
    color: white;
}

